
bin/Release/netstandard2.0/NWT.pdb
bin/Release/netstandard2.0/NWT.deps.json
bin/Release/netstandard2.0/NWT.dll
obj/NWT.csproj.nuget.cache
obj/NWT.csproj.nuget.dgspec.json
obj/NWT.csproj.nuget.g.props
obj/NWT.csproj.nuget.g.targets
obj/project.assets.json
obj/Release/netstandard2.0/AboutPage.xaml.g.cs
obj/Release/netstandard2.0/AchivementsPage.xaml.g.cs
obj/Release/netstandard2.0/App.xaml.g.cs
obj/Release/netstandard2.0/AvatarPage.xaml.g.cs
obj/Release/netstandard2.0/ChoicesPage.xaml.g.cs
obj/Release/netstandard2.0/CommentPage.xaml.g.cs
obj/Release/netstandard2.0/CommunityPage.xaml.g.cs
obj/Release/netstandard2.0/CustomizationIntroPage.xaml.g.cs
obj/Release/netstandard2.0/CustomizationPage.xaml.g.cs
obj/Release/netstandard2.0/CustomNewsFeed.xaml.g.cs
obj/Release/netstandard2.0/DailyPopUp.xaml.g.cs
obj/Release/netstandard2.0/GraphicalTestPage.xaml.g.cs
obj/Release/netstandard2.0/GSampleNewsGrid.xaml.g.cs
obj/Release/netstandard2.0/GSampleNewsPage.xaml.g.cs
obj/Release/netstandard2.0/GSamplePage.xaml.g.cs
obj/Release/netstandard2.0/GSamplePage2.xaml.g.cs
obj/Release/netstandard2.0/GSampleProfilePage.xaml.g.cs
obj/Release/netstandard2.0/GSampleSidemenu.xaml.g.cs
obj/Release/netstandard2.0/GSampleTabbedPage.xaml.g.cs
obj/Release/netstandard2.0/HubbPage.xaml.g.cs
obj/Release/netstandard2.0/IntroWalkthrough.xaml.g.cs
obj/Release/netstandard2.0/LoadingPopUp.xaml.g.cs
obj/Release/netstandard2.0/LoginPage.xaml.g.cs
obj/Release/netstandard2.0/MainPage.xaml.g.cs
obj/Release/netstandard2.0/NewsGridPage.xaml.g.cs
obj/Release/netstandard2.0/NewsPage.xaml.g.cs
obj/Release/netstandard2.0/NWT.AssemblyInfo.cs
obj/Release/netstandard2.0/NWT.AssemblyInfoInputs.cache
obj/Release/netstandard2.0/NWT.assets.cache
obj/Release/netstandard2.0/NWT.csproj.CoreCompileInputs.cache
obj/Release/netstandard2.0/NWT.csproj.FileListAbsolute.txt
obj/Release/netstandard2.0/NWT.csprojAssemblyReference.cache
obj/Release/netstandard2.0/NWT.dll
obj/Release/netstandard2.0/NWT.pdb
obj/Release/netstandard2.0/PasswordPage.xaml.g.cs
obj/Release/netstandard2.0/PicrossPage.xaml.g.cs
obj/Release/netstandard2.0/PlayPage.xaml.g.cs
obj/Release/netstandard2.0/ProfilePage.xaml.g.cs
obj/Release/netstandard2.0/QuizPage.xaml.g.cs
obj/Release/netstandard2.0/QuizSubmissionPage.xaml.g.cs
obj/Release/netstandard2.0/RegistrationPage.xaml.g.cs
obj/Release/netstandard2.0/SettingsPage.xaml.g.cs
obj/Release/netstandard2.0/Sidemenu.xaml.g.cs
obj/Release/netstandard2.0/StylePage.xaml.g.cs
obj/Release/netstandard2.0/SudokuPage.xaml.g.cs
obj/Release/netstandard2.0/TutorialPopUp1.xaml.g.cs
obj/Release/netstandard2.0/TutorialPopUp2.xaml.g.cs
obj/Release/netstandard2.0/TutorialPopUp3.xaml.g.cs
obj/Release/netstandard2.0/TutorialPopUp4.xaml.g.cs
obj/Release/netstandard2.0/TutorialPopUp5.xaml.g.cs
obj/Release/netstandard2.0/UserSettingsPage.xaml.g.cs
obj/Release/netstandard2.0/UserSubmissionPage.xaml.g.cs
obj/Release/netstandard2.0/VoteDisplayPage.xaml.g.cs
obj/Release/netstandard2.0/VoteListPage.xaml.g.cs
obj/Release/netstandard2.0/VotePage.xaml.g.cs
obj/Release/netstandard2.0/VoteSubmissionPage.xaml.g.cs
obj/Release/netstandard2.0/XamlC.stamp
